.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  align-items: center;
}

mat-panel-description {
  display: none;
}

@media screen and (min-width: 500px) {
  mat-panel-description {
    display: flex;
  }
}
