@use 'sass:math';

$line-width: 0.25rem;

:host {
  position: absolute;
  top: 0;
  left: math.div(-$line-width, 2);
  pointer-events: none;
}

.direction-line {
  position: absolute;
  transform: translate(0, -100%)
    rotateZ(calc(calc(var(--bearing) - var(--heading)) * -1deg));
  transform-origin: bottom;
}

.segment {
  width: 0.25rem;
  height: calc(var(--segment-size) * 1px);
  background-color: var(--direction-line-color);
  border: 1px solid var(--direction-line-color);

  &:nth-child(2n + 1) {
    background-color: var(--direction-line-odd-color);
  }
}
