/* You can add global styles to this file, and also import other style files */
@import '~maplibre-gl/dist/maplibre-gl.css';

:root {
  --bearing: 0; // map rotation
  --heading: 0; // device rotation to magnetic north
  --label-color: grey;
  --direction-line-color: black;
  --direction-line-odd-color: white;
}

body,
html {
  all: initial;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#map {
  height: 100%;
}

.maplibregl-user-location-dot {
  background: none;
  width: 2rem;
  height: 2rem;

  &::after,
  &::before {
    all: initial;
  }

  &::after {
    content: '';
    width: inherit;
    height: inherit;
    background: url('./assets/mapCursor.svg');
    background-size: cover;
    transform: rotateZ(calc(calc(var(--bearing) - var(--heading)) * -1deg));
    display: block;
  }
}
