mat-panel-description mat-icon {
  margin-inline-start: auto;
}

.settings {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  align-items: center;

  mat-slide-toggle {
    margin-bottom: 1rem;
  }

  .labeled-slider {
    position: relative;

    mat-slider {
      width: 100%;
    }
  }
}

mat-panel-description {
  display: none;
}

@media screen and (min-width: 500px) {
  mat-panel-description {
    display: flex;
  }
}
