<ng-template transloco let-t translocoRead="settingDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <div mat-dialog-content>
    <mat-accordion>
      <laamap-general-settings></laamap-general-settings>
      <laamap-airspaces-settings></laamap-airspaces-settings>
      <laamap-radar-settings></laamap-radar-settings>
    </mat-accordion>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
