<ng-template transloco let-t>
  <ng-container *ngrxLet="radar$ as radar">
    <div
      class="container"
      cdkDrag
      (cdkDragEnded)="dragEnded(radar.widget.position, $event)"
      cdkDragBoundary="body"
      [cdkDragFreeDragPosition]="radar.widget.position"
      [cdkDragStartDelay]="1000"
      *ngIf="radar.type !== 'coverage' && radar.widget.enabled && radar.enabled"
      [style.background]="radar.widget.background"
    >
      <h6>{{ t('settingDialog.radar.type.' + radar.type) }}</h6>
      <span
        class="value"
        *ngIf="activeTileTime$ | ngrxPush as activeTileTime"
        [style.color]="
          (activeTilePast$ | async)
            ? radar.widget.textColorPast
            : radar.widget.textColorFuture
        "
        >{{ activeTileTime | translocoDate : { timeStyle: 'short' } }}
      </span>
    </div>
  </ng-container>
</ng-template>
