.container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  padding: 0.25rem 0.75rem;
  cursor: move;
  z-index: 2;

  h6 {
    margin: 0;
  }

  .value {
    font-weight: 500;
  }
}
