<ng-template transloco let-t>
  <ng-container *ngrxLet="radarSettings$ as radarSettings">
    <div
      class="container"
      cdkDrag
      (cdkDragEnded)="dragEnded(radarSettings.widget.position, $event)"
      cdkDragBoundary="body"
      [cdkDragFreeDragPosition]="radarSettings.widget.position"
      [cdkDragStartDelay]="1000"
      *ngIf="
        radarSettings.type !== 'coverage' &&
        radarSettings.widget.enabled &&
        radarSettings.enabled
      "
      [style.background]="radarSettings.widget.background"
    >
      <h6>{{ t('settingDialog.radar.type.' + radarSettings.type) }}</h6>
      <span
        class="value"
        *ngIf="currentAnimationFrame$ | ngrxPush as currentAnimationFrame"
        [style.color]="
          currentAnimationFrame.pastTime
            ? radarSettings.widget.textColorPast
            : radarSettings.widget.textColorFuture
        "
        >{{
          currentAnimationFrame.time * 1000
            | translocoDate : { timeStyle: 'short' }
        }}
      </span>
    </div>
  </ng-container>
</ng-template>
