<mgl-map
  [style]="
    'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL'
  "
  [zoom]="[7]"
  [center]="[19.471558112191815, 48.704923970323705]"
  [attributionControl]="false"
  [maxPitch]="85"
  (rotate)="rotate($event)"
>
  <!-- right top -->
  <mgl-control>
    <div class="maplibregl-ctrl-group">
      <button (click)="openSettingsDialog()">
        <mat-icon fontIcon="settings"></mat-icon>
      </button>
    </div>
  </mgl-control>

  <mgl-control
    mglGeolocate
    [positionOptions]="{
      enableHighAccuracy: true
    }"
    [trackUserLocation]="true"
    [showUserLocation]="true"
    (geolocate)="geolocate($event)"
  ></mgl-control>
  <mgl-control mglNavigation></mgl-control>

  <!-- bottom controls -->
  <mgl-control
    mglAttribution
    position="bottom-right"
    [customAttribution]="[
      '<a href=&quot;https://www.rainviewer.com/&quot; target=&quot;_blank&quot;>Rain viewer</a>'
    ]"
  ></mgl-control>
  <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>

  <laamap-on-map-air-spaces></laamap-on-map-air-spaces>
  <laamap-on-map-airport></laamap-on-map-airport>
  <laamap-on-map-radar></laamap-on-map-radar>
  <laamap-on-map-notams></laamap-on-map-notams>
</mgl-map>
