<!-- <ng-container *ngIf="(radar$ | ngrxPush)?.enabled">
  <ng-container
    *ngFor="
      let layer of rainViewerTileUrl$ | ngrxPush;
      let i = index;
      trackBy: radarTileIdentify
    "
  >
    <mgl-raster-source
      [id]="'rainViewSource' + i"
      [tileSize]="rainViewer.tileSize"
      [tiles]="[layer.url]"
    ></mgl-raster-source>
    <mgl-layer
      [id]="'rainViewLayer' + i"
      type="raster"
      [source]="'rainViewSource' + i"
      [paint]="{
        'raster-opacity': layer.opacity,
        'raster-fade-duration': 0
      }"
    >
    </mgl-layer>
  </ng-container>
</ng-container> -->
