<ng-template transloco let-t translocoRead="notamsDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>

  <mat-accordion mat-dialog-content>
    <mat-expansion-panel *ngFor="let notam of nonHiddenNotams$ | ngrxPush">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ notam.id }}</mat-panel-title>
        <mat-panel-description>{{ notam.issuer }}</mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <div class="msg">{{ notam.msg }}</div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>{{
            t('description')
          }}</mat-expansion-panel-header>
          <div>
            <div class="info">
              <span class="label">{{ t('from') }}</span>
              <span class="value">{{
                notam.from
                  | translocoDate : { dateStyle: 'short', timeStyle: 'short' }
              }}</span>
            </div>
            <div class="info">
              <span class="label">{{ t('to') }}</span>
              <span class="value">{{
                notam.to
                  | translocoDate : { dateStyle: 'short', timeStyle: 'short' }
              }}</span>
            </div>
            <div class="info">
              <span class="label">{{ t('traffic') }}</span>
              <span class="value"
                ><span class="splitList" *ngIf="notam.traffic.visual">{{
                  t('trafficValues.visual')
                }}</span
                ><span class="splitList" *ngIf="notam.traffic.instrument">{{
                  t('trafficValues.instrument')
                }}</span
                ><span class="splitList" *ngIf="notam.traffic.checklist">{{
                  t('trafficValues.checklist')
                }}</span></span
              >
            </div>
            <div class="info">
              <span class="label">{{ t('lowerLimit') }}</span>
              <span class="value">
                <span
                  class="optionList"
                  *ngIf="
                    notam.flightLevelLowerLimit ||
                    notam.flightLevelLowerLimit === 0
                  "
                >
                  <ng-container
                    *transloco="let rd; read: 'shared.altitude.referenceDatum'"
                  >
                    {{ rd('2') }}
                  </ng-container>
                  {{ notam.flightLevelLowerLimit }}
                </span>
                <span class="optionList" *ngIf="notam.lowerLimit2">{{
                  notam.lowerLimit2
                }}</span>
              </span>
            </div>
            <div class="info">
              <span class="label">{{ t('upperLimit') }}</span>
              <span class="value">
                <span
                  class="optionList"
                  *ngIf="
                    notam.flightLevelUpperLimit ||
                    notam.flightLevelUpperLimit === 0
                  "
                  ><ng-container
                    *transloco="let rd; read: 'shared.altitude.referenceDatum'"
                    >{{ rd('2') }}</ng-container
                  >
                  {{ notam.flightLevelUpperLimit }}</span
                >
                <span class="optionList" *ngIf="notam.upperLimit2">{{
                  notam.upperLimit2
                }}</span>
              </span>
            </div>
            <div class="info" *ngIf="notam.schedule">
              <span class="label">{{ t('schedule') }}</span>
              <span class="value">{{ notam.schedule }}</span>
            </div>
            <div class="info">
              <span class="label">{{ t('purpose') }}</span>
              <span class="value">
                <span class="splitList" *ngIf="notam.purpose.checklist">{{
                  t('purposeValues.checklist')
                }}</span>
                <span class="splitList" *ngIf="notam.purpose.flightOperation">{{
                  t('purposeValues.flightOperation')
                }}</span>
                <span
                  class="splitList"
                  *ngIf="notam.purpose.immediateAttention"
                  >{{ t('purposeValues.immediateAttention') }}</span
                >
                <span class="splitList" *ngIf="notam.purpose.miscellaneous">{{
                  t('purposeValues.miscellaneous')
                }}</span>
                <span
                  class="splitList"
                  *ngIf="notam.purpose.preFlightBriefing"
                  >{{ t('purposeValues.preFlightBriefing') }}</span
                >
              </span>
            </div>
            <div class="info">
              <span class="label">{{ t('scope') }}</span>
              <span class="value">
                <span class="splitList" *ngIf="notam.scope.checklist">{{
                  t('scopeValues.checklist')
                }}</span>
                <span class="splitList" *ngIf="notam.scope.aerodrome">{{
                  t('scopeValues.aerodrome')
                }}</span>
                <span class="splitList" *ngIf="notam.scope.enRoute">{{
                  t('scopeValues.enRoute')
                }}</span>
                <span class="splitList" *ngIf="notam.scope.navigationWarning">{{
                  t('scopeValues.navigationWarning')
                }}</span>
              </span>
            </div>
            <div
              class="info"
              *ngIf="
                !t(
                  'subjectIdentificationValues.' + notam.subjectIdentification
                )?.startsWith('notamsDialog.')
              "
            >
              <span class="label">{{ t('subjectIdentification') }}</span>
              <span class="value">{{
                t('subjectIdentificationValues.' + notam.subjectIdentification)
              }}</span>
            </div>
            <div
              class="info"
              *ngIf="
                !t(
                  'subjectConditionValues.' + notam.subjectCondition
                )?.startsWith('notamsDialog.')
              "
            >
              <span class="label">{{ t('subjectCondition') }}</span>
              <span class="value">{{
                t('subjectConditionValues.' + notam.subjectCondition)
              }}</span>
            </div>
          </div>
          <div class="originalMsg">{{ notam.originalMsg }}</div>
        </mat-expansion-panel>
        <button
          class="remove"
          mat-raised-button
          color="warn"
          (click)="hide(notam.id)"
        >
          {{ t('permanentlyHide') }}
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
