.msg {
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.remove {
  float: right;
  margin-top: 1rem;
}

.mat-body-strong {
  white-space: pre-wrap;
  margin-top: 0.5rem;
  font-weight: 600;
  font-family: monospace;
}

.info {
  .mat-caption {
    display: block;
    color: var(--label-color);

    &::after {
      content: ': ';
    }
  }

  .value {
    margin-left: 0.5rem;

    .split-list {
      &:not(:first-child) {
        &::before {
          content: ', ';
        }
      }
    }

    .option-list {
      &:not(:first-child) {
        &::before {
          content: ' / ';
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .info {
    .mat-caption {
      display: inline;
    }

    .value {
      margin-left: 0;
    }
  }
}
