<mgl-geojson-source
  id="airportSource"
  [data]="airPorts$ | ngrxPush"
></mgl-geojson-source>

<mgl-layer
  *ngIf="imageLoaded"
  id="airportOrientationLayer"
  type="symbol"
  source="airportSource"
  [filter]="[
    'all',
    [
      'in',
      ['get', 'type'],
      [
        'literal',
        [
          eAirportType.airport,
          eAirportType.airfieldCivil,
          eAirportType.internationalAirport,
          eAirportType.militaryAerodrome,
          eAirportType.ultralightFlyingSite,
          eAirportType.ifr,
          eAirportType.landingStrip,
          eAirportType.agriculturalLandingStrip,
          eAirportType.altiport
        ]
      ]
    ],
    zoomLevelBasedFilter
  ]"
  [layout]="{
    'icon-image': [
      'case',
      ['get', 'paved', ['get', 'mainRunway']],
      'runwayPaved',
      'runwayUnpaved'
    ],
    'icon-size': 1,
    'icon-allow-overlap': true,
    'icon-rotate': ['get', 'trueHeading', ['get', 'mainRunway']],
    'icon-rotation-alignment': 'map'
  }"
></mgl-layer>

<mgl-layer
  *ngIf="imageLoaded"
  id="airportTypeLayer"
  type="symbol"
  source="airportSource"
  (layerClick)="airportClicked($event.features?.[0]?.properties)"
  (layerMouseEnter)="hover()"
  (layerMouseLeave)="hoverEnd()"
  [filter]="zoomLevelBasedFilter"
  [layout]="{
    'icon-image': [
      'match',
      ['number', ['get', 'type']],
      eAirportType.internationalAirport,
      'internationalAirport',
      eAirportType.ultralightFlyingSite,
      'ultralightFlyingSite',
      eAirportType.airfieldCivil,
      'airfieldCivil',
      eAirportType.militaryAerodrome,
      'militaryAerodrome',
      eAirportType.aerodromeClosed,
      'aerodromeClosed',
      eAirportType.heliportCivil,
      'heliportCivil',
      'airfieldCivil'
    ],
    'icon-size': 1,
    'icon-allow-overlap': true,
    'text-field': [
      'step',
      ['zoom'],
      '',
      9,
      ['get', 'name'],
      11,
      [
        'concat',
        ['get', 'name'],
        '\n',
        [
          'case',
          ['has', 'value', ['get', 'mainFrequency']],
          ['concat', ['get', 'value', ['get', 'mainFrequency']], 'MHz'],
          ''
        ]
      ]
    ],
    'text-optional': true,
    'text-anchor': 'bottom',
    'text-offset': [0, -1.2],
    'text-size': 12
  }"
></mgl-layer>
