mat-panel-description {
  display: none;
}

mat-icon {
  flex-shrink: 0;
}

.settings {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  align-items: center;
}

.labeled-slider {
  position: relative;

  mat-slider {
    width: 100%;
  }

  .mat-form-field-label {
    top: 0.8rem;
  }
}

input[type='color'] {
  height: 1rem;
}

@media screen and (min-width: 500px) {
  mat-panel-description {
    display: flex;
  }

  .description {
    display: none;
  }
}
