<ng-template transloco let-t translocoRead="airportDialog">
  <h1 mat-dialog-title>{{ t('title', data) }}</h1>
  <div mat-dialog-content>
    <div class="info">
      <span class="mat-caption">{{ t('type') }}</span>
      <span class="value">
        {{ t('types.' + data.type) }}
        <span *ngIf="data.trafficType?.length"
          >(<span
            class="split-list"
            *ngFor="let trafficType of data.trafficType"
            >{{ t('trafficTypes.' + trafficType) }}</span
          >)</span
        >
      </span>
    </div>
    <div class="info">
      <span class="mat-caption">{{ t('elevation') }}</span>
      <span class="value">{{ data.elevation | altitude }}</span>
    </div>
    <div class="info">
      <span class="mat-caption">{{ t('magneticDeclination') }}</span>
      <span class="value">{{ data.magneticDeclination }}°</span>
    </div>
    <div class="info">
      <span class="mat-caption">{{ t('private') }}</span>
      <span class="value">{{ t('boolean.' + data.private) }}</span>
    </div>
    <div class="info">
      <span class="mat-caption">{{ t('skydiveActivity') }}</span>
      <span class="value">{{ t('boolean.' + data.skydiveActivity) }}</span>
    </div>

    <div class="info" *ngFor="let freq of data.frequencies">
      <span class="mat-caption"
        >{{ t('frequency') }} {{ t('frequencies.types.' + freq.type) }}</span
      >
      <span class="value" [class.highlight]="freq.primary"
        >{{ freq.value + 'MHz ' }}<span *ngIf="freq.name">{{ freq.name }}</span
        ><span *ngIf="freq.remarks">({{ freq.remarks }})</span></span
      >
    </div>

    <mat-accordion>
      <mat-expansion-panel *ngIf="data.runways">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ t('runways') }} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let runway of data.runways">
            <mat-expansion-panel-header
              ><mat-panel-title [class.highlight]="runway.mainRunway">
                {{ runway.designator }}
              </mat-panel-title></mat-expansion-panel-header
            >
            <div class="info">
              <span class="mat-caption">{{ t('runwaysDetail.length') }}</span>
              <span class="value">{{
                runway.dimension.length | dimension
              }}</span>
            </div>
            <div class="info">
              <span class="mat-caption">{{ t('runwaysDetail.width') }}</span>
              <span class="value">{{
                runway.dimension.width | dimension
              }}</span>
            </div>
            <div class="info">
              <span class="mat-caption">{{
                t('runwaysDetail.operation')
              }}</span>
              <span class="value">{{
                t('runwaysDetail.operations.' + runway.operations)
              }}</span>
            </div>
            <div class="info" *ngIf="runway.remarks">
              <span class="mat-caption">{{ t('runwaysDetail.remarks') }}</span>
              <span class="value">{{ runway.remarks }}</span>
            </div>
            <div class="info">
              <span class="mat-caption">{{
                t('runwaysDetail.trueHeading')
              }}</span>
              <span class="value">{{ runway.trueHeading }}°</span>
            </div>
            <div class="info">
              <span class="mat-caption">{{
                t('runwaysDetail.turnDirection')
              }}</span>
              <span class="value">{{
                t('runwaysDetail.turnDirections.' + runway.turnDirection)
              }}</span>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="data.images">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ t('images') }} </mat-panel-title>
        </mat-expansion-panel-header>
        <lightgallery
          [settings]="gallerySettings"
          [onAfterOpen]="galleryOpened()"
          [onAfterClose]="galleryClosed()"
          [onInit]="onInit"
        >
          <a
            href="https://www.openaip.net/api/core/airports/{{
              data._id
            }}/images/{{ image._id }}"
            *ngFor="let image of data.images"
          >
            <img
              src="https://www.openaip.net/api/core/airports/{{
                data._id
              }}/images/{{ image._id }}?loadRfc=false&width=200&height=200"
              title="{{ image.description }}"
              alt="{{ image.description }}"
            />
          </a>
        </lightgallery>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
